<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-ios-inputfocusfix" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
  <name>iOS WKWebView Input Focus Fix</name>
  <description>Allows programmatic keyboard display in WKWebView (use with caution).</description>
  <license>MIT</license>

  <!-- пустой JS-модуль -->
  <js-module src="www/empty.js" name="WKInputFocusFix">
    <clobbers target="cordova.plugins.wkInputFocusFix"/>
  </js-module>

  <platform name="ios">
	  <framework src="WebKit.framework" />
	  <source-file src="src/ios/WKInputFocusFix.m" compiler-flags="-fobjc-arc" />

	  <!-- Регистрируем сервис и заставляем создать экземпляр при старте -->
	  <config-file target="config.xml" parent="/*">
		<feature name="WKInputFocusFix">
		  <param name="ios-package" value="WKInputFocusFix" />
		  <param name="onload" value="true" />
		</feature>
	  </config-file>
	</platform>
</plugin>